.gradle/
build/
out/
output/
.idea/
.scratch/
tmp/
temp/
*.iml
.secrets
application-local.yaml
application-verify.yaml
application-test.yaml
application-production.yaml
storage/

backend/build/
backend/data/images/

.DS_Store
